{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<div class="footer-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6">
              <span>Copyright © 2019 3alababak. All rights reserved.</span>
                <p class="mb-0 text-muted">ColoredStrategies 2019</p>
            </div>
            <div class="col-sm-6 d-none d-sm-block">
                <ul class="breadcrumb pt-0 pr-0 float-right">
                    <li class="breadcrumb-item mb-0">
                        <a href="#" class="btn-link">Review</a>
                    </li>
                    <li class="breadcrumb-item mb-0">
                        <a href="#" class="btn-link">Purchase</a>
                    </li>
                    <li class="breadcrumb-item mb-0">
                        <a href="#" class="btn-link">Docs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
