<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html {% if LANGUAGE_BIDI %} dir="rtl" {% else %} dir="ltr" {% endif %}>

<head>
  <meta charset="UTF-8">
  <title>3alababak</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="{% static "src/font/iconsmind-s/css/iconsminds.css" %}" />
  <link rel="stylesheet" href="{% static "src/font/simple-line-icons/css/simple-line-icons.css" %}" />

  <link rel="stylesheet" href="{% static "src/css/vendor/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/bootstrap.rtl.only.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/fullcalendar.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/dataTables.bootstrap4.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/datatables.responsive.bootstrap4.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/select2.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/perfect-scrollbar.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/glide.core.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/bootstrap-stars.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/nouislider.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/bootstrap-datepicker3.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/component-custom-switch.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/main.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/dore.light.bluenavy.min.css" %}" />
</head>
<body id="app-container" class="menu-default show-spinner">

  <nav class="navbar fixed-top">
    {% include 'top-nav.html' %}
  </nav>
  <div class="menu">
    {% include 'side-bar.html' %}
  </div>

  <main>

    <div class="container-fluid">
      {% block body %}
      {% endblock body %}
    </div>
  </main>

  <footer class="page-footer">
    {% include 'footer.html' %}
  </footer>

  <div class="theme-colors">
    <div class="p-4">
      <p class="text-muted mb-2">Light Theme</p>
      <div class="d-flex flex-row justify-content-between mb-3">
        <a href="#" data-theme="dore.light.bluenavy.min.css" class="theme-color theme-color-bluenavy"></a>
        <a href="#" data-theme="dore.light.blueyale.min.css" class="theme-color theme-color-blueyale"></a>
        <a href="#" data-theme="dore.light.blueolympic.min.css" class="theme-color theme-color-blueolympic"></a>
        <a href="#" data-theme="dore.light.greenmoss.min.css" class="theme-color theme-color-greenmoss"></a>
        <a href="#" data-theme="dore.light.greenlime.min.css" class="theme-color theme-color-greenlime"></a>
      </div>
      <div class="d-flex flex-row justify-content-between mb-4">
        <a href="#" data-theme="dore.light.purplemonster.min.css" class="theme-color theme-color-purplemonster"></a>
        <a href="#" data-theme="dore.light.orangecarrot.min.css" class="theme-color theme-color-orangecarrot"></a>
        <a href="#" data-theme="dore.light.redruby.min.css" class="theme-color theme-color-redruby"></a>
        <a href="#" data-theme="dore.light.yellowgranola.min.css" class="theme-color theme-color-yellowgranola"></a>
        <a href="#" data-theme="dore.light.greysteel.min.css" class="theme-color theme-color-greysteel"></a>
      </div>
      <p class="text-muted mb-2">Dark Theme</p>
      <div class="d-flex flex-row justify-content-between mb-3">
        <a href="#" data-theme="dore.dark.bluenavy.min.css" class="theme-color theme-color-bluenavy"></a>
        <a href="#" data-theme="dore.dark.blueyale.min.css" class="theme-color theme-color-blueyale"></a>
        <a href="#" data-theme="dore.dark.blueolympic.min.css" class="theme-color theme-color-blueolympic"></a>
        <a href="#" data-theme="dore.dark.greenmoss.min.css" class="theme-color theme-color-greenmoss"></a>
        <a href="#" data-theme="dore.dark.greenlime.min.css" class="theme-color theme-color-greenlime"></a>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <a href="#" data-theme="dore.dark.purplemonster.min.css" class="theme-color theme-color-purplemonster"></a>
        <a href="#" data-theme="dore.dark.orangecarrot.min.css" class="theme-color theme-color-orangecarrot"></a>
        <a href="#" data-theme="dore.dark.redruby.min.css" class="theme-color theme-color-redruby"></a>
        <a href="#" data-theme="dore.dark.yellowgranola.min.css" class="theme-color theme-color-yellowgranola"></a>
        <a href="#" data-theme="dore.dark.greysteel.min.css" class="theme-color theme-color-greysteel"></a>
      </div>
    </div>
    <div class="p-4">
      <p class="text-muted mb-2">Border Radius</p>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="roundedRadio" name="radiusRadio" class="custom-control-input radius-radio" data-radius="rounded">
        <label class="custom-control-label" for="roundedRadio">Rounded</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="flatRadio" name="radiusRadio" class="custom-control-input radius-radio" data-radius="flat">
        <label class="custom-control-label" for="flatRadio">Flat</label>
      </div>
    </div>
    <div class="p-4">
      <p class="text-muted mb-2">Direction</p>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="ltrRadio" name="directionRadio" class="custom-control-input direction-radio" data-direction="ltr">
        <label class="custom-control-label" for="ltrRadio">Ltr</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="rtlRadio" name="directionRadio" class="custom-control-input direction-radio" data-direction="rtl">
        <label class="custom-control-label" for="rtlRadio">Rtl</label>
      </div>
    </div>
    <!-- <a href="#" class="theme-button"> <i class="simple-icon-magic-wand"></i> </a> -->
  </div>


  <script src="{% static "src/js/vendor/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "src/js/vendor/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "src/js/vendor/Chart.bundle.min.js" %}"></script>
  <script src="{% static "src/js/vendor/chartjs-plugin-datalabels.js" %}"></script>
  <script src="{% static "src/js/vendor/moment.min.js" %}"></script>
  <script src="{% static "src/js/vendor/fullcalendar.min.js" %}"></script>
  <script src="{% static "src/js/vendor/datatables.min.js" %}"></script>
  <script src="{% static "src/js/vendor/perfect-scrollbar.min.js" %}"></script>
  <script src="{% static "src/js/vendor/progressbar.min.js" %}"></script>
  <script src="{% static "src/js/vendor/jquery.barrating.min.js" %}"></script>
  <script src="{% static "src/js/vendor/select2.full.js" %}"></script>
  <script src="{% static "src/js/vendor/nouislider.min.js" %}"></script>
  <script src="{% static "src/js/vendor/bootstrap-datepicker.js" %}"></script>
  <script src="{% static "src/js/vendor/Sortable.js" %}"></script>
  <script src="{% static "src/js/vendor/mousetrap.min.js" %}"></script>
  <script src="{% static "src/js/vendor/glide.min.js" %}"></script>

  <script src="{% static "src/js/dore.script.js" %}"></script>
  <script src="{% static "src/js/scripts.single.theme.js" %}"></script>

</body>

</html>
