<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html {% if LANGUAGE_BIDI %} dir="rtl" {% else %} dir="ltr" {% endif %}>

<head>
  <meta charset="UTF-8">
  <title>3alababak</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/png" href="{% static "src/logos/3alababak_icon.png"%}">
  <link rel="stylesheet" href="{% static "src/font/iconsmind-s/css/iconsminds.css" %}" />
  <link rel="stylesheet" href="{% static "src/font/simple-line-icons/css/simple-line-icons.css" %}" />

  <link rel="stylesheet" href="{% static "src/css/vendor/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/bootstrap.rtl.only.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/fullcalendar.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/dataTables.bootstrap4.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/datatables.responsive.bootstrap4.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/select2.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/perfect-scrollbar.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/glide.core.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/bootstrap-stars.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/nouislider.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/bootstrap-datepicker3.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/vendor/component-custom-switch.min.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/main.css" %}" />
  <link rel="stylesheet" href="{% static "src/css/dore.light.redruby.min.css" %}" />


</head>

<body id="app-container" class="menu-default show-spinner">

  <nav class="navbar fixed-top">
    {% include 'top-nav.html' %}
  </nav>
  <div class="menu">
    {% include 'side-bar.html' %}
  </div>

  <main>

    <div class="container-fluid">
      {% block body %}
      {% endblock body %}
    </div>
  </main>

  <footer class="page-footer">
    {% include 'footer.html' %}
  </footer>


  <script src="{% static "src/js/vendor/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "src/js/vendor/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "src/js/vendor/Chart.bundle.min.js" %}"></script>
  <script src="{% static "src/js/vendor/chartjs-plugin-datalabels.js" %}"></script>
  <script src="{% static "src/js/vendor/moment.min.js" %}"></script>
  <script src="{% static "src/js/vendor/fullcalendar.min.js" %}"></script>
  <script src="{% static "src/js/vendor/datatables.min.js" %}"></script>
  <script src="{% static "src/js/vendor/perfect-scrollbar.min.js" %}"></script>
  <script src="{% static "src/js/vendor/progressbar.min.js" %}"></script>
  <script src="{% static "src/js/vendor/jquery.barrating.min.js" %}"></script>
  <script src="{% static "src/js/vendor/select2.full.js" %}"></script>
  <script src="{% static "src/js/vendor/nouislider.min.js" %}"></script>
  <script src="{% static "src/js/vendor/bootstrap-datepicker.js" %}"></script>
  <script src="{% static "src/js/vendor/Sortable.js" %}"></script>
  <script src="{% static "src/js/vendor/mousetrap.min.js" %}"></script>
  <script src="{% static "src/js/vendor/glide.min.js" %}"></script>

  <script src="{% static "src/js/dore.script.js" %}"></script>
  <script src="{% static "src/js/scripts.single.theme.js" %}"></script>

  <script type="text/javascript">
    $(".color").click(function() { //toggleClass
      if ($(this).hasClass("active")) {
        console.log('clicked');
        //$(this).addClass("active");
        $(this).removeClass("active");
      } else {
        console.log('testclicked');
        $(this).addClass("active");
      }
      localStorage.setItem("active", $(this).parent().index());
      localStorage.setItem("activec", $(this).index());
      console.log('testclickeding' + $(this).parent().index() + $(this).index());

    });

    var ele = localStorage.getItem("active");
    var ele1 = localStorage.getItem("activec");
    //$('ul li:eq(' + ele1 + ')').find('a').addClass("active");
    $('ul li:eq(' + ele1 + ')').find('a').addClass("active");
    $('ul li:eq(' + ele + ')').addClass("active");
    console.log('testclicked' + ele + ele1);
  </script>
  {% block js %}{% endblock js %}
</body>

</html>
