{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<div class="main-menu">
  <div class="scroll">
    <ul class="list-unstyled">
      <li class="active">
        <a href="#dashboard">
          <i class="iconsminds-shop-4"></i>
          <span>Dashboards</span>
        </a>
      </li>
      <li>
        <a href="#accounts">
          <i class="simple-icon-people"></i> Accounts
        </a>
      </li>
      <li>
        <a href="#inventory">
          <i class="iconsminds-box-close"></i> Inventory
        </a>
      </li>
      <li>
        <a href="#locations">
          <i class="iconsminds-location-2"></i> Locations
        </a>
      </li>
      <li>
        <a href="#trans">
          <i class="iconsminds-receipt-4"></i> Transactions
        </a>
      </li>
      <li>
        <a href="#orders">
          <i class="iconsminds-shopping-cart"></i> Orders
        </a>
      </li>
      <li>
        <a href="#">
          <i class="simple-icon-notebook"></i> Reports
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="sub-menu">
  <div class="scroll">
    <ul class="list-unstyled" data-link="dashboard">
      <li class="active">
        <a href="{% url 'home:homepage'%}">
          <i class="simple-icon-rocket"></i> <span class="d-inline-block">Default</span>
        </a>
      </li>
    </ul>
    <ul class="list-unstyled" data-link="accounts">
      <li>
        <a href="#" data-toggle="collapse" data-target="#collapseAuthorization" aria-expanded="true" aria-controls="collapseAuthorization" class="rotate-arrow-icon opacity-50">
          <i class="simple-icon-arrow-down"></i> <span class="d-inline-block">Accounts List</span>
        </a>
        <div id="collapseAuthorization" class="collapse show">
          <ul class="list-unstyled inner-level-menu">
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="simple-icon-user-following"></i> <span class="d-inline-block">Customers</span>
              </a>
            </li>
            <li>
              <a href="{% url 'account:list-suppliers'%}">
                <i class="simple-icon-user-follow"></i> <span class="d-inline-block">Suppliers</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="list-unstyled" data-link="inventory">
      <li>
        <a href="#" data-toggle="collapse" data-target="#collapseForms" aria-expanded="true" aria-controls="collapseForms" class="rotate-arrow-icon opacity-50">
          <i class="simple-icon-arrow-down"></i> <span class="d-inline-block">Products</span>
        </a>
        <div id="collapseForms" class="collapse show">
          <ul class="list-unstyled inner-level-menu">
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="simple-icon-event"></i> <span class="d-inline-block">Products</span>
              </a>
            </li>
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="simple-icon-doc"></i> <span class="d-inline-block">Attributes</span>
              </a>
            </li>
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="simple-icon-check"></i> <span class="d-inline-block">Brands</span>
              </a>
            </li>
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="simple-icon-magic-wand"></i> <span class="d-inline-block">Categories</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{% url 'account:list-customers'%}">
          <i class="simple-icon-screen-desktop"></i>
          <span class="d-inline-block">Stocktaking</span>
        </a>
      </li>
      <li>
        <a href="{% url 'account:list-customers'%}">
          <i class="iconsminds-coins"></i> <span class="d-inline-block">Tax</span>
        </a>
      </li>
      <li>
        <a href="{% url 'account:list-customers'%}">
          <i class="simple-icon-calculator"></i> <span class="d-inline-block">UOM</span>
        </a>
      </li>
    </ul>

    <ul class="list-unstyled" data-link="locations">
      <li>
        <a href="#" data-toggle="collapse" data-target="#collapseForms" aria-expanded="true" aria-controls="collapseForms" class="rotate-arrow-icon opacity-50">
          <i class="simple-icon-arrow-down"></i> <span class="d-inline-block">Locations & Warehouses</span>
        </a>
        <div id="collapseForms" class="collapse show">
          <ul class="list-unstyled inner-level-menu">
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="iconsminds-home-3"></i> <span class="d-inline-block">Warehouses</span>
              </a>
            </li>
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="consminds-clothing-store"></i> <span class="d-inline-block">Stores</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="list-unstyled" data-link="trans" id="menuTypes">
      <li>
        <a href="#" data-toggle="collapse" data-target="#collapseMenuDetached" aria-expanded="true" aria-controls="collapseMenuDetached" class="rotate-arrow-icon collapsed">
          <i class="simple-icon-arrow-down"></i> <span class="d-inline-block">Transactions</span>
        </a>
        <div id="collapseMenuDetached" class="collapse show">
          <ul class="list-unstyled inner-level-menu">
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="iconsminds-arrow-inside"></i> <span class="d-inline-block">Receiving</span>
              </a>
            </li>
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="iconsminds-arrow-loop"></i> <span class="d-inline-block">Return Receiving</span>
              </a>
            </li>
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="iconsminds-arrow-outside"></i> <span class="d-inline-block">Shipping</span>
              </a>
            </li>
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="iconsminds-arrow-loop"></i> <span class="d-inline-block">Return Shipping</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="list-unstyled" data-link="orders">
      <li>
        <a href="#" data-toggle="collapse" data-target="#collapseForms" aria-expanded="true" aria-controls="collapseForms" class="rotate-arrow-icon opacity-50">
          <i class="simple-icon-arrow-down"></i> <span class="d-inline-block">Orders Menu</span>
        </a>
        <div id="collapseForms" class="collapse show">
          <ul class="list-unstyled inner-level-menu">
            <li>
              <a href="{% url 'orders:list-po'%}">
                <i class="iconsminds-add-cart"></i> <span class="d-inline-block">Purchase Orders</span>
              </a>
            </li>
            <li>
              <a href="{% url 'account:list-customers'%}">
                <i class="iconsminds-add-cart"></i> <span class="d-inline-block">Sales Orders</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
</div>
