{% extends 'master.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block body%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{title}}</h1>
      <div class="text-zero top-right-button-container">
        <a href="{% url 'inventory:list-categories'%}"><button type="button" class="btn btn-primary btn-lg top-right-button mr-1">{% trans "BACK TO LIST" %}</button></a>
      </div>
      <div class="separator mb-5"></div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">

      <form method="POST">
        {% csrf_token %}
        <table class="data-table data-table-scrollable responsive nowrap dataTable no-footer dtr-inline">
          {{ category_formset.management_form }}
          {% for form in category_formset %}
          {{ form.id }}
          {% if forloop.first %}
          <thead>
            <tr>
              {% for field in form.visible_fields %}
              <th>{{ field.label|capfirst }}</th>
              {% endfor %}
            </tr>
          </thead>
          {% endif %}
          <tr>
            {% for field in form.visible_fields %}
            <td>
              {# exclude the hidden fields in the form #}
              {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary d-block mt-3">Save</button>
      </form>
    </div>
  </div>

</div>

{% endblock body%}
